<div class="container">
  <h1>Hola este es mi primer proyecto de angular</h1>
  <h2>{{welcome}}</h2>
  <ul>
    <p> total: {{tasks().length }}</p>
    @for (task of tasks(); track $index; let i = $index) {
      <li>{{ i }} - {{ task }}</li>
    }
  </ul>
  <hr />

  <h2>Hola, soy {{ name() }}, y mi edad es de {{ age() }}</h2>
  <hr>
  <input type="text" [value] = "name()">
  <hr>
  <button [disabled] = "disabled" > Click me</button>
  <hr>
  <img [src]="person().img" alt="">
  <hr>
  <p>person: {{ person().name }}</p>
  <p>person: {{ person().age }}</p>

<hr>
<button (dblclick)="clickhandler()"> double click me  </button>
<input type="text" [value] = "name()" (change)="changehandler($event)">
@if (name === name){
<div> 
 My content
</div>
}

@if (name() === 'Cristina'){
<div> 
 My content CRIS
</div>
}
<input type="number" [value]="person().age" (input)="changeAge($event)">

  @if (person().name === 'Cristina' && name() === 'Cristina' && person().age > 18) {
    <div> 
      My content CRISobj¬¬
    </div>
  } @else {
    <p>Soy Cristina y soy menor de 18</p>
  }
<input type="0" [value]="person().name" (change)="changeName($event)">
<div>@switch (person().name) {
  @case ('Cristina') {
    <p>Hola Cris, bienvenida.</p>
  }
  @case ('Juan') {
    <p>Hola Juan, ¿cómo estás?</p>
  }
  @default {
    <p>Hola desconocido.</p>
  }
}
</div>
<hr>
<input type="color" [formControl] = "colorCtrl">
<p>color: {{ colorCtrl.value }}</p>

<!-- apply style svg -->
<svg width="100" height="100">
  <g>
    <rect 
      x="10" 
      y="10" 
      width="80" 
      height="80" 
      [attr.fill]="colorCtrl.value" 
    />
  </g>
</svg>

<hr>
<!-- styles -->
<input type="number" [formControl] = "widthCtrl">
<span class="box" [style.width.px] = "widthCtrl.value">  </span>

<hr>
<p>
  <input type="text" [formControl] = "nameCtrl"> <br />
  <span class="message-error" [class.message-error-show]="nameCtrl.invalid && nameCtrl.touched"> 
    Nombre invalido
  </span>
</p>
<p>
  <input type="text">
</p>
</div>

